html, body {
	height:100%;
}
body {
	width: 100%;
	background: #041f3d;
	overflow-x: hidden;
	overflow-y: auto;
}
#header{
	position: absolute;
	z-index: 2000;
	width: 235px;
	top: 30px;
}
#header h1{
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	padding: 20px;
	background: #000;
}
#navigation {
	margin-top: 20px;
	width: 235px;
	display:block;
	list-style:none;
	z-index:3;
}
#navigation a{
	color: #444;
	display: block;
	background: #fff;
	background: rgba(255,255,255,0.9);
	line-height: 50px;
	padding: 0px 20px;
	text-transform: uppercase;
	margin-bottom: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	font-size: 14px;
}
#navigation a:hover {
	background: #ddd;
}
.content{
	right: 40px;
	left: 280px;
	top: 0px;
	position: absolute;
	padding-bottom: 30px;
}
.content h2{
	font-size: 75px;
	padding: 10px 0px 20px 0px;
	margin-top: 30px;
	color: #fff;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.content h3{
	font-size: 40px;
	padding: 0px 0px 0px 0px;
	margin-top: 40px;
	color: #fff;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.content p{
	font-size: 18px;
	padding: 10px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	background: ; /*Optional text borders*/
	padding: 10px;
	margin: 3px 0px;
	width: 60%;
}
.content2{
	right: 55%;
	left: 280px;
	top: 200px;
	position: absolute;
	padding-bottom: 30px;
}
.content2 p{ /*--white box--*/
	font-size: 20px;
	padding: 10px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	background: ; /*Change to black if needed*/
	padding: 10px;
	margin: 3px 0px;
	width: 100%;
}
.image1{
	float: right;
	padding-top: 290px;
	padding-right:650px;
	
}
.image2{
	float: right;
	padding-top: 450px;
	padding-right:175px;
	
}
.image3{
	float: right;
	padding-top: 490px;
	padding-right:200px;
	
}

.dam{
	float: right;
	padding-top: 300px;
	padding-right:175px;
	
}


.panel1{
	width: 100%;
	min-height: 100%;
	position: absolute;
	background-color: #000;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
	margin-left: -102%;
	z-index:2;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
.panel1:target{
	margin-left: 0%;
	background-color: #165751;  /*Panel Colors*/
}


.panel2{
	width: 100%;
	min-height: 100%;
	position: absolute;
	background-color: #000;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
	margin-left: -102%;
	z-index:2;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
.panel2:target{
	margin-left: 0%;
	background-color: #0b2e41;  /*Panel Colors*/
}


.panel3{
	width: 100%;
	min-height: 100%;
	position: absolute;
	background-color: #000;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
	margin-left: -102%;
	z-index:2;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
.panel3:target{
	margin-left: 0%;
	background-color: #448c61;  /*Panel Colors*/
}



.panel4{
	width: 100%;
	min-height: 100%;
	position: absolute;
	background-color: #000;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
	margin-left: -102%;
	z-index:2;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
.panel4:target{
	margin-left: 0%;
	background-color: #9ac16d;  /*Panel Colors*/
}

.button a{ /*PDF Button*/
	position: absolute;
	
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	background-color:#57c59d;
	border-radius:50%;
	z-index: 2;
	width: 100px;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-transition: all 200ms ;
	-moz-transition: all 200ms ;
	-ms-transition: all 200ms ;
	-o-transition: all 200ms ;
	transition: all 200ms ;
}

.button a:hover {
	background-color:#207455;
}

.button2 a{ /*Submit Button*/
	position: absolute;
	right: 40px;
	left: 195px;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	background-color:#599f73;
	border-radius:50%;
	z-index: 2;
	width: 100px;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-transition: all 200ms ;
	-moz-transition: all 200ms ;
	-ms-transition: all 200ms ;
	-o-transition: all 200ms ;
	transition: all 200ms ;
}

.button2 a:hover {
	background-color:#3a7b53;
}


/*
* Form, input, label, textarea
*/
.form h3, .form p {text-align: center;}
form {width: 500px; margin: 50px auto; text-align: center;}
input, label, textarea {width: 500px; float: left; margin: 0; padding: 0;}
label {font-size: 12px; text-transform: uppercase; font-weight: 300; margin-bottom: 7px;}
input {margin-bottom: 2px; padding: 7px 0; text-align: center;
}
input, textarea {border: 1px solid #ddd; outline: none;
}
input:focus, textarea:focus {border-color: #b6b6b6;
}
textarea {width: 480px; padding: 7px 10px;}
input.error, textarea.error {border-color: #cc4847;

}
#home:target ~ #header #navigation #link-home,
#exhibit:target ~ #header #navigation #link-exhibit,
#about:target ~ #header #navigation #link-about,
#venue:target ~ #header #navigation #link-venue,
#contact:target ~ #header #navigation #link-contact{
	background: #6b52db;
	color: #fff;
}

#works {
	padding: 15px 0px;
}
#works li{
	display: inline;
}
#works li a{
	padding-right: 10px;
}
#works img {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	
}
#form p{
	background: #599f73;
	color: #fff;
}
#form input, #form textarea{
	background: #fff;
	color: #000;
	border: none;
}
#form textarea{
	width: 480px;
	height: 100px;
}
#form label{
	padding-right: 10px;
	float: left;
}

.footnote a{
	color: #ddd;
}